@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'iransans';
    src: url('/src/assets/iransans.woff2') format('woff2');
  }
}
body {
  font-family: 'iransans' !important;
  position: relative;
  overflow-x: hidden !important;
  /* background-color: #f3f4f6; */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.active {
  background-color: #fff;
  color: black;
}
.active::after {
  transform: scale(1, 1) !important;
}

#movieDetailsContaier {
  background: url('/public/moviesDetailsBackground.jpg') no-repeat center center;
  background-size: cover;
}
